.Home {
    z-index: 2;
    text-align: center;
    
    .Intro{
        height: 75vh;
        width: 100%;
        background-color: rgba(33,33,33,0.5);
    }
    .About{
        height: 75vh;
        width: 100%;
        background-color: rgba(99,99,99,0.5);
    }
}

@media only screen and (max-width: 800px) {
    .Home {
       
    }
}