@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #varia {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #eeeeee;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar{
  display: none;
}